body {
  width: 900px;
  margin: auto;
  color: #626262;
}

.menu {
  display: inline-block;
  height: 108px;
  width: 900px;
}

.site {
  display: block;
  width: 570px;
  margin-top: 77px;
  margin-left: auto;
  margin-right: auto;
}

.site div {
  display: inline-block;
  width: 139px;
  text-align: right;
}

.site .menu-site {
  text-align: left;
}

a[href="lifestyle"] {
  color: #25b4f5;
}

a {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #626262; 
}

.text {
  display: inline-block;
  height: 475px;
  width: 420px;
  margin-top: 83px;
  margin-bottom: 58px;
 }

.text-2 {
  display: inline-block;
  height: 475px;
  width: 420px;
  margin-top: 83px;
  margin-bottom: 58px;
  margin-left: 56px;
}

.section {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #626262;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  color: #626262;
}

p {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  line-height: 24px; 
  color: #626262;
}

.click {
  margin-bottom: 80px;
}

button {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid #626262;
  color: #626262;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-right: 34px;
  padding-left: 34px;  
}





