body{
  width: 1600px;
  margin: auto;
}
.header{
  margin-top: 32px;
  margin-bottom: 37px;
}

.logo{
  display: inline-block;
  margin-left: 245px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
  color: rgb(85,82,82);
}

.logo::first-letter{
  color: rgb(26,188,156);
  font-weight: 900;
}

.main_menu {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  width: 470px;
  height: 34px;
  margin-top: 0px;
  margin-right: 245px;
  float: right;
  text-align: justify;
}

.main_menu:after {
  display: inline-block;
  content: "";
  width: 100%;
}

.main_menu li {
  display: inline-block;
  height: 34px;
  width: max-content;
  text-align: justify;
}

.main_menu li a {
  display: inline-block;
  height: inherit;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 34px;
  color: rgb(15,1,1);
}

a {
  text-decoration: none;
}

.main_menu li a:hover {
  color: rgb(26,188,156);
}

a:visited {
  color: inherit;
}

.arrow::after{
  content:"";
  display: table;
  clear: both;
}

.slider arrow{
  margin-top: 38px;
}

.slider{
  position: relative;
  background-image: url(/images/slide4.png);
  height: 600px;
  max-width: 1600px;
  
}

.content{
  margin: 0 auto;
  width: 700px;
}

.title{
  margin: 0;
  text-align: center;
  padding-top: 220px;
  color: snow;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 48px;
}

.subtitle{
  margin-top: 30px;
  margin-left: 30px;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: snow;
}

.slider-ctrl{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.slider-ctrl-prev {
  position: absolute;
  left: 245px;
  bottom: 265px;
  padding: 30px 43px;
}

.slider-ctrl-next{
  position: absolute;
  padding: 30px 43px;
  right: 245px;
  bottom: 265px;
}

.slider-ctrl:hover{
  background-color: #4f9c8b;
}

.new-collection{
  max-width: 1600px;
  background-color: #e9f0fd;
}

.collection-title{
  margin-top: 0;
  text-align: center;
  font-size: 48px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  opacity: 0.7;
  padding-top: 100px;
}

.collection-title::after{
  content: "";
  width: 160px;
  height: 7px;
  background-color:#1abc9c;
  display: block;
  margin: 33px auto 80px;
}

.collection{
  width: 1110px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  padding-bottom: 100px;
}

.collection-item{
  position: relative;
  float: left;
  margin-left: 30px;
  width: 255px;
  height: 365px;
  display: block;
}

.collection-item:first-child{
  margin: 0;
}

.price{
  width: 255px;
  margin-top: -20px;
}

.collection-subtitle{
  float: left;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  width: 234px;
  padding: 12px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.collection-price{
  float: right;
  background-color: rgba(255, 255, 255, 0.5);
  margin: -12px -11px;
  padding: 12px 14px;
}

.collection-item:hover h3{
  background-color: #1abc9c;
}

.collection-item:hover > .shadow-block{
  display: block;
}

.shadow-block{
  display: none;
  width: 235px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  left: 10px;
}

.shadow-item{
  height: 24px;
  width: 26px;
  border: 1px solid #ffffff;
  padding: 13px 12px;
  margin-left: 10px;
  margin-bottom: 7px;
  margin-top: 80px;
}

.shadow-item:hover{
  background-color: #1abc9c;
}

.shadow-item:first-child{
  margin-left: 25px;
}

.shadow-item:last-child{
  border: 0px;
  margin-left: 0;
}

.shadow-cart{
  height: 24px;
  width: 26px;
  padding: 13px 12px;
}

.shadow-item4{
  width: 182px;
  height: 50px;
  border: 1px solid #ffffff;
  background-color: #323232;
  margin-left: 25px;
}

.shadow-item4:hover{
  background-color: #1abc9c;
}

.shadow-item-text{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  display: inline-block;
  float: right;
  padding: 18px 20px 18px 0;
}

.footer{
  background-color: #323232;
  text-align: center;
}

.footer-title{
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  padding: 35px 0;
}

.footer-subtitle{
  color: #1abc9c;
}
