body {
    width: 1170px;
    margin: auto;
}
.header {
    margin-top: 38px;
    height: 34px;
    width: 1170px;
}
.logo {
    display: inline-block;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(85,82,82);
  }
  .logo::first-letter {
    color: rgb(26,188,156);
    font-weight: 900;
  }
  .menu {
    display: inline-block;
    width: 470px;
    height: 34px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
    text-align: justify;
    margin-right: 30px;
  }
  .menu:after {
    display: inline-block;
    content: "";
    width: 100%;
  }
  .menu li {
    display: inline-block;
    height: 34px;
    width: max-content;
    text-align: justify;
  }
  .menu li a {
    display: inline-block;
    height: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 34px;
    color: rgb(15,1,1);
  }
  a {
    text-decoration: none;
  }
  .menu li a:hover {
    color: rgb(26,188,156);
  }
  a:visited {
    color: inherit;
  }
  .featured {
    display: block;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  h2 {
    display: block;
    margin-bottom: 92px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 900;
    color:rgb(81,81,81);
  }
  h2:after {
    content:"";
    display: block;
    width: 165px;
    height: 8px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 92px;
    background-color:rgb(26,188,156);
  }
  .item {
    position: relative;
    display: inline-block;
    height: 322px;
    width: 255px;
    background-color: rgb(50,50,50);
    float: left;
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .item_image {
    position: relative;
    top: 140.5px;
    left: 127.5px;
    transform: translate(-50%, -50%);
  }
  .image {
    display: inline-block;
    height: 281px;
    width: 255px;
    background-color: rgb(233,240,253);
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .product {
    display: inline-block;
    height: 41px;
    width: 255px;
    background-color:rgba(50,50,50,0);
    position: absolute;
    bottom: 0px;
    left: 0px;
    line-height: 42px;
  }
  .item:hover {
    background-color: rgb(26,188,156);
  }
  .name {
    margin-left: 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: rgb(255,255,255);
    text-transform: uppercase;
  }
  .price {
    margin-right: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: rgb(255,255,255);
    text-transform: uppercase;
    float: right;
  }
  .price_area {
    display: block;
    width: 54px;
    height: 41px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgba(255,255,255,0.5);
  }
  .latest_news {
    margin-top: 92px;
  }
  .text {
    display: inline-block;
    Width: 350px;
    height: 496px;
    margin-left: 30px;
    margin-bottom: 45px; 
  }
  .blog_image {
    width: 350px;
    height: 262px;
    margin-bottom: -4px;
  }
  h3 {
    margin-block-start: 0em;
    margin-top: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color:rgb(81,81,81);
    line-height: 26px;
    margin-bottom: 18px;
  }
  
  h3:after {
    content:"";
    display: block;
    width: 136px;
    height: 3px;
    margin-top: 8px;
    margin-bottom: 18px;
    background-color:rgb(26,188,156);
  }
  
  p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:rgb(81,81,81);
    line-height: 26px;
    height: 74px;
    overflow: hidden;
  }
  
  button {
    height: 51px;
    width: 159px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color:rgb(78,198,171);
    color: rgb(255,255,255);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 16px;
  }